/*
 * Clarity by SimplyU
 * https://gamecrafter.github.io / @gamecraftervt
 * Free to use under the GNU GPLv3
 */
@import url(font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Muli);
*{
    color: #ffffff;
    font-family: "Muli", sans-serif;
    margin: auto;
    text-align: center;
}
::selection{
    background: #d3d3d3;
}
body{
    background-attachment: fixed;
    background-image: url(../../images/wallpaper.png);
    background-repeat: no-repeat;
}
a{
    border-bottom: 1px dotted;
    text-decoration: none;
    transition: color 0.3s ease-in-out, border-bottom-color 0.3s ease-in-out;
}
a:hover{
    border-bottom: transparent;
    color: #a9a9a9;
}
p{
    font-size: 18px;
    line-height: 24px;
    margin-top: 4px;
}
#avatar img{
    border-radius: 20px;
    display: block;
    height: 200px;
    margin-top: 5%;
    transition: all 1s ease;
    width: 200px;
}
#content{
    margin-top: 3%;
    width: 60%;
}
#social{
    left: 50%;
    margin-top: 5%;
    position: absolute;
    transform: translate(-50%, -50%);
}
#social ul{
    padding: 3px 10px;
}
#social li{
    display: inline;
    padding: 16px;
}
.icon{
    border-bottom: none;
    font-family: "FontAwesome";
    font-style: normal;
    text-rendering: auto;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}
.facebook:hover{
    color: #3b5998;
}
.instagram:hover{
    color: #8a3ab9;
}
.linkedin:hover{
    color: #0077b5;
}
.snapchat:hover{
    color: #fffc00;
}
.twitter:hover{
    color: #00aced;
}
.youtube:hover{
    color: #cd201f;
}