/*
    Clarity by SimplyU
    https://gamecrafter.github.io / @gamecraftervt
    Free to use under the GNU GPLv3
 */
*{
    font-family: "Arial", sans-serif;
    margin: auto;
    text-align: center;
}
body{
    background: linear-gradient(222deg, rgba(120, 255, 183, 1) 0%, rgba(0, 128, 128, 1) 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;
}
a{
    color: #ffffff;
    text-decoration: none;
}
a:hover{
    color: #a9a9a9;
    transition: ease-in-out .4s;
}
p{
    margin-top: 4px;
}
#avatar img{
    border-radius: 40px;
    display: block;
    height: 256px;
    margin-top: 5%;
    width: 256px;
}
#content{
    margin-top: 5%;
    width: 60%;
}
#social {
    position: absolute;
    margin-top: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: inherit;
    background: linear-gradient(45deg, rgba(255, 215, 82, 1) 0%, rgba(0, 128, 128, 1) 100%);
    border-radius: 20px;
}
#social li {
    list-style: none;
}
#social ul {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    columns: 3;
    -webkit-columns: 3;
    -moz-columns: 3;
}
#footer li{
    display: inline-block;
    text-decoration: none;
}
.facebook:hover{
    color: #3b5998;
}
.instagram:hover{
    color: #517fa4;
}
.twitter:hover{
    color: #00aced;
}
#footer ul{
    position: absolute;
    margin: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 3px;
    list-style-type: none;
}